{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}{{ suggestion_form.media }}{% endblock %}
{% block content %}
  <div class="row small-gap-below">
    <div class="text-center">
      <h1>{{ request.goal.title }}</h1>
      <div class="button-grp">
        <button class="btn btn-default" onclick="location.href='{% url 'goal' request.goal.slug %}';">Suggestions</button>
        <button class="btn btn-default">Members</button>
        {% if request.member %}
          <button class="btn btn-default" onclick="location.href='{% url 'profile' request.goal.slug %}';">My Profile</button>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <form enctype="multipart/form-data" id="suggestion_form" method="post">
      {% csrf_token %}
      <p>{{ revision_form.title.errors }}
        <label class="form-label" for="{{ revision_form.title.id_for_label }}">Title</label>
        <input class="form-field" id="id_title" maxlength="100" name="title" type="text" value="{{ revision_form.title.value }}">
      </p>
      <p>{{ revision_form.description.errors }}
        <label class="form-label" for="{{ revision_form.description.id_for_label }}">Describe your suggestion</label>
        <textarea class="form-field" form="suggestion_form" name="description" rows="20">{{ revision_form.description.value }}</textarea>
      </p>
      <div>
        <button id="save-submit" name="submit" value="save">{{ post_button_label }}</button>
        <button id="cancel-submit" name="submit" value="cancel">{{ cancel_button_label }}</button>
      </div>
    </form>
  </div><script>
// suggestion/init_suggestion_form.js
$(window).load(function() {
    $("#suggestion-image-div").load(
        $("#suggestion-image-div").data("ajax-url"),
        function(){
            $('#upload-submit').trigger('click');
        }
    );
});
</script>{% endblock %}
