{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}{{ form.media }}{% endblock %}
{% block content %}
  <div class="row small-gap-below">
    <div class="text-center">
      <h1>{{ request.goal.title }}</h1>
      <div class="button-grp">
        <button class="btn btn-default" onclick="location.href='{% url 'goal' request.goal.slug %}';">Suggestions</button>
        <button class="btn btn-default">Members</button>
        {% if request.member %}
          <button class="btn btn-default" onclick="location.href='{% url 'profile' request.goal.slug %}';">My Profile</button>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    {% if show_image_form %}
      <div data-ajax-url="{% url 'new-suggestion-image' request.goal.slug draft_suggestion.id %}" id="suggestion-image-div"></div>
    {% endif %}
    <form enctype="multipart/form-data" id="revision-form" method="post">
      {% csrf_token %}
      <p>{{ form.title.errors }}
        <label class="form-label" for="{{ form.title.id_for_label }}">Title</label>
        <input class="form-field" id="id_title" maxlength="100" name="title" type="text" value="{{ form.title.value }}">
      </p>
      <p>{{ form.description.errors }}
        <label class="form-label" for="{{ form.description.id_for_label }}">Describe your suggestion</label>
        <textarea class="form-field" form="revision-form" name="description" rows="20">{{ form.description.value }}</textarea>
      </p>
      <div>
        <button id="saverevision-submit" name="submit" value="save">{{ post_button_label }}</button>
        <button id="cancelrevision-submit" name="submit" value="cancel">{{ cancel_button_label }}</button>
      </div>
    </form>
  </div><script>
// suggestion/edit_suggestion_init.js
$(document).ready(function() {
    url_suggestion_image = $("#suggestion-image-div").data("ajax-url");

    // load form into div
    var on_image_form_loaded = function() {

        // respond to submitting the form
        $("#image-form").submit(function(event) {
            // Stop form from submitting normally
            event.preventDefault();

            var data = new FormData();
            data.append('csrfmiddlewaretoken', $("#image-form").data('token'));
            data.append('submit', 'upload');
            data.append('image', $("#id_image")[0].files[0]);

            // Send the data using post
            var posting = $.post({
                url: url_suggestion_image,
                data: data,
                cache: false,
                processData: false,
                contentType: false,
            });

            // // Load the result into the image div
            // posting.done(function(data) {
            //     $("#suggestion-image-div").load(url_suggestion_image);
            // });
        });

        // todo reenable automatic upload
        // $("#id_file_input").change(function () {
        //     $('#upload-submit').trigger('click');
        // });
    };

    $("#suggestion-image-div").load(url_suggestion_image, on_image_form_loaded);
});
</script>{% endblock %}
