{% extends 'base.html' %}

{% load staticfiles %}
{% load humanize %}
{% load markdown_deux_tags %}
{% block content %}
  <div class="row small-gap-below">
    <div class="text-center">
      <h1>{{ request.goal.title }}</h1>
      <div class="button-grp">
        <button class="btn btn-default" onclick="location.href='{% url 'goal' request.goal.slug %}';">Suggestions</button>
        <button class="btn btn-default">Members</button>
        {% if request.member %}
          <button class="btn btn-default" onclick="location.href='{% url 'profile' %}';">Profile
            {% with request.global_user.notifications|unread as unread_notifications %}
              {% if unread_notifications.count %} ({{ unread_notifications.count }}){% endif %}
            {% endwith %}
          </button>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row small-gap-below">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="suggestion--image" style="{% if suggestion.image %}background-image:url({{ suggestion.image.url }});{% endif %}">
        <div class="suggestion--gradient"></div>
        <span class="suggestion--title">
          <span class="title-caption">{{ suggestion.get_type_display }}</span>
          <h3>{{ revision.title }}</h3>
        </span>
      </div>
    </div>
  </div>
  <div class="row small-gap-below">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p>This is a previous version of a 
        <a href="{% url 'suggestion' request.goal.slug suggestion.slug %}">suggestion</a> by {{ suggestion.owner.name }}</p>{{ revision.description|markdown }}</div>
  </div>
{% endblock %}
