{% extends 'base.html' %}
{% load staticfiles %}
{% load markdown_deux_tags %}
{% load humanize %}
{% block content %}
  <div class="row small-gap-below">
    <div class="text-center">
      <h1>{{ request.goal.title }}</h1>
      <div class="button-grp">
        <button class="btn btn-default" onclick="location.href='{% url 'goal' request.goal.slug %}';">Suggestions</button>
        <button class="btn btn-default">Members</button>
        {% if request.member %}
          <button class="btn btn-default" onclick="location.href='{% url 'profile' request.goal.slug %}';">My Profile</button>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row small-gap-below">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="suggestion--photo" style="{% if suggestion.image %}background-image:url({{ suggestion.image.url }});{% endif %}">
        <div class="suggestion--gradient"></div>
        <span class="suggestion--title">
          <span class="title-caption">{{ suggestion.get_type_display }}</span>
          <h3>{{ revision.title }}</h3>
        </span>
      </div>
    </div>
  </div>
  <div class="row small-gap-below">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h5>Published by {{ suggestion.owner.global_user.name }}, {{ suggestion.pub_date|naturaltime }}</h5>{{ revision.description|markdown }}</div>
  </div>
  <div id="sg-review-list"></div><script>
// review/sg_comment_list.js
(function($) {
    function on_comment_form_submit(event) {
        event.preventDefault();

        // Send the data using post
        var form = $(this);
        var posting = $.post(
            form.data("ajax-url"),
            form.serialize() + "&submit=" + $(document.activeElement)[0].value
        );

        // Put the results in a div
        posting.done(function(data) {
            if (data.success) {
                form.closest(".sg-comment-list").sg_comment_list();
            }
        });
    }

    function init_reply_div() {
        // connect post button to do an ajax post
        form = $(this).find("form")[0];
        url_get_reply_form = $(this).data("ajax-url");
        $(form).data("ajax-url", url_get_reply_form);
        $(form).submit(on_comment_form_submit);
    }

    function on_click_reply_link() {
        // respond to clicking on $(this) reply link by showing a reply form
        reply_div = $(this).siblings(".comment-reply-div")[0];
        url_get_reply_form = $(this).data("ajax-url");
        $(reply_div).data("ajax-url", url_get_reply_form);
        $(reply_div).load(url_get_reply_form, init_reply_div);
    }

    function init_comment_list() {
        // connect all reply-links within $(this) comment list
        $(this).find(".comment-reply-link").click(on_click_reply_link);
    }

    $.fn.sg_comment_list = function() {
        return this.each(function(dummy_index, comment_list) {

            // load comments into this comment list
            url_get_comment_list = $(comment_list).data("ajax-url");
            $(comment_list).load(url_get_comment_list, init_comment_list);
        });
    };
}(jQuery));
</script><script>
// review/sg_review_list.js
(function($) {
    $.fn.sg_review_list = function() {
        return this.each(function(dummy_index, review_list_div) {

            $(review_list_div).find('div.rateit, span.rateit').rateit();
            $(review_list_div).find('.sg-comment-list').sg_comment_list();
        });
    };
}(jQuery));
</script><script>
// suggestion/init_suggestion.js
$(document).ready(function() {
    $('#rateit-review').bind('rated', function() {
        $('#id_rating').val($(this).rateit('value'));
    });

    $("#review-form").submit(function(event) {

        // Stop form from submitting normally
        event.preventDefault();

        // Send the data using post
        var posting = $.post(
            $("#review-form").data("ajax-url"),
            $(this).serialize() + "&submit=" + $(document.activeElement)[0].value
        );

        // Put the results in a div
        posting.done(function(data) {
            $("#sg-review-list").html(data);
            $("#sg-review-list").sg_review_list();
        });
    });

    $("#sg-review-list").load(
        "{% url 'reviews' request.goal.slug suggestion.slug %}",
        function() {
            $(this).sg_review_list();
        }
    );
});
</script>{% endblock %}
