{% extends 'base_base.html' %}

{% load i18n %}

{% block header %}
  <div class="row top-right-div">
    <div class="pull-right">
      {% if user.is_authenticated %}
        {% if request.member %}
          <div class="btn-group" id="top-right-div-inner">
            {% if suggestion and suggestion.owner == request.member %}
              <button class="btn btn-danger" id="btn-edit-suggestion" onclick="location.href='{% url 'edit-suggestion' request.goal.slug suggestion.slug %}';">Edit Suggestion</button>
            {% endif %}
            <button class="btn" onclick="location.href='{% url 'new-suggestion' request.goal.slug %}';">New Suggestion</button>
          </div>
        {% endif %}
        <div class="dropdown clearfix pull-right">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">{{ user.first_name }}</a>
          <span class="caret"></span>
          <ul class="dropdown-menu">
            <li>
              <a href="{% url 'auth_logout' %}">{% trans 'Log out' %}</a>
              <a href="{% url 'auth_password_change' %}">{% trans 'Change password' %}</a>
            </li>
          </ul>
        </div>
        {% else %}
          <a href="{% url 'auth_login' %}">{% trans 'Log in' %}</a>
        
      {% endif %}
    </div>
  </div>
{% endblock %}
