{% load i18n %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>{% block title %}Shared Goals{% endblock %}</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'goal/goal.css' %}" rel="stylesheet">
    <link href="{% static 'proposal/proposal.css' %}" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js" type="text/javascript"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" type="text/javascript"></script>

    <link href="{% static 'proposal/rateit.css' %}" rel="stylesheet">
    <script src="{% static 'proposal/jquery.rateit.js' %}" type="text/javascript"></script>
    {% block head %}{% endblock %}
</head>

<body>
<div class="container">
    <div id="header">
    {% block header %}{% endblock %}
    </div>

    <div id="content">
    {% block content %}{% endblock %}
    </div>

    <div id="footer">
    {% block footer %}
        <hr />
    {% endblock %}
    </div>
</div>
</body>

</html>
