*.pyc
*.sqlite3
supervisord.conf
webpack-stats.json
sharedgoals_nginx.conf
*.sublime-project
*.sublime-workspace
*.sublime-workspace
migrations
env
res/react-tutorial-master
here_commands
/static/
/assets/bundles/
/bin/log/
/bin/*.pid
/media/
