{% extends 'base.html' %}

{% block head %}{{ proposal_form.media }}{% endblock %}
{% block content %}
  <div class="row big-gap-below">
    <div class="text-center">
      <h1>{{ goal.title }}</h1>
      <div class="button-grp">
        <button class="btn btn-default" onclick="location.href='{% url 'goal' request.goal.slug %}';">Top Proposals</button>
        <button class="btn btn-default">Members</button>
        <button class="btn btn-default" onclick="location.href='{% url 'profile' request.goal.slug %}';">My Profile</button>
      </div>
    </div>
  </div>
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <form enctype="multipart/form-data" id="proposal_form" method="post">
      {% csrf_token %}
      <p>{{ proposal_form.cropping.errors }}
        <label class="form-label" for="{{ proposal_form.cropping.id_for_label }}"></label>{{ proposal_form.cropping }}</p>
      <p>{{ proposal_form.image.errors }}
        <label class="form-label" for="{{ proposal_form.image.id_for_label }}">Image</label>{{ proposal_form.image }}
        <button id="upload-submit" name="submit" value="upload">Upload</button>
      </p>
      <p>{{ revision_form.title.errors }}
        <label class="form-label" for="{{ revision_form.title.id_for_label }}">Title</label>
        <input class="form-field" id="id_title" maxlength="100" name="title" type="text" value="{{ revision_form.title.value }}">
      </p>
      <p>{{ revision_form.description.errors }}
        <label class="form-label" for="{{ revision_form.description.id_for_label }}">Describe your proposal</label>
        <textarea class="form-field" form="proposal_form" name="description" rows="20">{{ revision_form.description.value }}</textarea>
      </p>
      <div>
        <button id="save-submit" name="submit" value="save">Submit</button>
        <button id="cancel-submit" name="submit" value="cancel">{{ cancel_button_label }}</button>
      </div>
    </form>
  </div>
{% endblock %}
