{% extends 'base.html' %}

{% load markdown_deux_tags %}

{% block content %}

  <div class="row main-menu">
    <div class="text-center">
      <h1>{{ goal.title }}</h1>
      <div class="button-grp">
        <button class="btn btn-default" onclick="location.href='{% url 'index' goal.slug %}';">Top Proposals</button>
        <button class="btn btn-default">Members</button>
        <button class="btn btn-default" onclick="location.href='{% url 'profile' goal.slug %}';">My Profile</button>
      </div>
    </div>
  </div>
  <h1>{{ proposal.title }}</h1>{{ proposal.description|markdown }}
{% endblock %}

