{% extends 'base.html' %}

{% load staticfiles %}
{% load humanize %}
{% load markdown_deux_tags %}
{% block content %}
  <div class="row small-gap-below">
    <div class="text-center">
      <h1>{{ request.goal.title }}</h1>
      <div class="button-grp">
        <button class="btn btn-default" onclick="location.href='{% url 'goal' request.goal.slug %}';">Top Proposals</button>
        <button class="btn btn-default">Members</button>
        {% if request.member %}
          <button class="btn btn-default" onclick="location.href='{% url 'profile' request.goal.slug %}';">My Profile</button>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row small-gap-below">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="proposal--photo" style="background-image:url({{ proposal.image.url }});">
        <div class="proposal--gradient"></div>
        <span class="proposal--title">
          <span class="title-caption">action</span>
          <h3>{{ revision.title }}</h3>
        </span>
      </div>
    </div>
  </div>
  <div class="row small-gap-below">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <p>This is a previous version of a 
        <a href="{% url 'proposal' request.goal.slug proposal.slug %}">proposal</a> by {{ proposal.owner.name }}</p>{{ revision.description|markdown }}</div>
  </div>
{% endblock %}
