{% extends 'base.html' %}

{% load staticfiles %}
{% load humanize %}
{% load markdown_deux_tags %}
{% block head %}<script src="{% static 'proposal/proposal.js' %}" type="text/javascript"></script>{% endblock %}
{% block content %}
  <div class="row big-gap-below">
    <div class="text-center">
      <h1>{{ goal.title }}</h1>
      <div class="button-grp">
        <button class="btn btn-default" onclick="location.href='{% url 'goal' goal.slug %}';">Top Proposals</button>
        <button class="btn btn-default">Members</button>
        <button class="btn btn-default" onclick="location.href='{% url 'profile' goal.slug %}';">My Profile</button>
      </div>
    </div>
  </div>
  <div class="row small-gap-below">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <div class="proposal--photo" href="{% url 'proposal' goal.slug proposal.slug %}" style="background-image:url({{ proposal.image.url }});">
        <div class="proposal--gradient"></div>
        <h3 class="proposal--title">{{ revision.title }}</h3>
      </div>
    </div>
  </div>
  <div class="row small-gap-below">
    <div class="col-md-2"></div>
    <div class="col-md-8">{{ revision.description|markdown }}</div>
  </div>
  <span class="small-gap-below">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-2">
        <div class="rateit readonly-rateit" data-rateit-readonly="true" data-rateit-resetable="false" data-rateit-value="{{ review.rating }}"></div>
      </div>
      <div class="col-md-6">{{ review.header }}</div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <p>{{ review.description }}</p>
      </div>
    </div>
  </span>
  {% for comment in comments %}
    <span class="small-gap-below">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">{{ comment.owner.user.get_full_name }}, {{ comment.pub_date|naturaltime }}</div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <p>{{ comment.body }}</p>
        </div>
      </div>
    </span>
  {% endfor %}
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <form class="big-gap-above" enctype="multipart/form-data" id="comment_form" method="post">
        {% csrf_token %}
        <p>{{ form.body.errors }}
          <label class="form-label" for="{{ form.body.id_for_label }}">Comment on this review</label>
          <textarea class="form-field" form="comment_form" name="body">{{ form.body.value }}</textarea>
        </p>
        <div>
          <button id="save-submit" name="submit" value="save">Submit</button>
          <button id="cancel-submit" name="submit" value="cancel">Cancel</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
