{% extends 'base.html' %}
{% load notification_tags %}
{% load shared_goals_tags %}
{% block content %}
  <div class="row small-gap-below">
    <div class="text-center">
      <h1>{{ request.goal.title }}</h1>
      <div class="button-grp">
        <button class="btn btn-default" onclick="location.href='{% url 'goal' request.goal.slug %}';">Suggestions</button>
        <button class="btn btn-default">Members</button>
        {% if request.global_user %}
          <button class="btn btn-default" onclick="location.href='{{ profile_url }}';">Profile
            {% with request.global_user.notifications|unread as unread_notifications %}
              {% if unread_notifications.count %} ({{ unread_notifications.count }}){% endif %}
            {% endwith %}
          </button>
        {% endif %}
      </div>
    </div>
  </div>
  {% for suggestion_list in suggestions|chunks:3 %}
    <div class="row small-gap-above">
      {% for suggestion in suggestion_list %}
        <div class="col-md-4">
          <a href="{% url 'suggestion' suggestion.goal.slug suggestion.slug %}">
            <div class="suggestion--image" style="{% if suggestion.image %}background-image:url({{ suggestion.image.url }});{% endif %}">
              <div class="suggestion--gradient"></div>
              <span class="suggestion--title">
                <span class="title-caption">{{ suggestion.get_type_display }}</span>
                <h3>{{ suggestion.get_current_revision.title }}</h3>
              </span>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    {% empty %}
      <h5>There are no suggestions yet</h5>
    
  {% endfor %}
{% endblock %}
