{% extends 'base.html' %}


{% block content %}

  <div class="row main-menu">
    <div class="text-center">
      <h1>{{ goal.title }}</h1>
      <div class="button-grp">
        <button class="btn btn-default" onclick="location.href='{% url 'index' goal.slug %}';">Top Proposals</button>
        <button class="btn btn-default">Members</button>
        <button class="btn btn-default" onclick="location.href='{% url 'profile' goal.slug %}';">My Profile</button>
      </div>
    </div>
  </div>
  <h5>My proposals</h5>
  <div class="row">
    <div class="col-md-8"></div>
    <div class="col-md-1">
      <h4>Rating</h4>
    </div>
    <div class="col-md-2">
      <h4>Published</h4>
    </div>
  </div>

{% for proposal in proposals %}

    <div class="row proposal">
      <div class="col-md-2"></div>
      <div class="col-md-1">
        <img height="75" src="{{ proposal.image_url }}" width="75">
      </div>
      <div class="col-md-5">
        <a href="{% url 'proposal' goal.slug proposal.slug %}">
          <h3>{{ proposal.title }}</h3>
        </a>
      </div>
      <div class="col-md-1">
        <h4>{{ proposal.avg_rating }}</h4>
      </div>
      <div class="col-md-2">
        <h4>{{ proposal.pub_date|date:'d M Y' }}</h4>
      </div>
    </div>
    {% empty %}
      <h5>You have not created any proposals yet</h5>


{% endfor %}


{% endblock %}
