{% extends 'base.html' %}

{% block content %}
  <div class="row small-gap-below">
    <div class="text-center">
      <h1>{{ request.goal.title }}</h1>
      <div class="button-grp">
        <button class="btn btn-default" onclick="location.href='{% url 'goal' request.goal.slug %}';">Suggestions</button>
        <button class="btn btn-default">Members</button>
        {% if request.member %}
          <button class="btn btn-default" onclick="location.href='{% url 'profile' request.goal.slug %}';">Profile</button>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h4 class="">Your suggestions:</h4>
    </div>
  </div>
  {% for suggestion_list in suggestion_lists %}
    <div class="row small-gap-above profile--suggestion-list">
      {% for suggestion in suggestion_list %}
        <div class="col-md-2">
          <a href="{% url 'suggestion' request.goal.slug suggestion.slug %}">
            <div class="suggestion--image" style="{% if suggestion.image %}background-image:url({{ suggestion.image.url }});{% endif %}">
              <div class="suggestion--gradient"></div>
              <span class="suggestion--title">
                <span class="title-caption">{{ suggestion.get_type_display }}</span>
                <h3>{{ suggestion.get_current_revision.title }}</h3>
              </span>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    {% empty %}
      <h5>You have not created any suggestions yet</h5>
    
  {% endfor %}
  <div class="row">
    <div class="col-md-4">
      <h4 class="">Notifications:</h4>
    </div>
  </div>
  {% for notification in notifications %}
    <div class="row small-gap-above profile--suggestion-list">{{ notification.html|safe }}</div>
  {% endfor %}<script>
// goal/init_profile.js
$(document).ready(function() {

    function on_click_notification() {
        $.post($(this).data("notification-read-url"));
        $(this).removeClass('sg-notification-read-0');
        $(this).addClass('sg-notification-read-1');
        // window.location = $(this).data("next-url");
    };

    $(".sg-notification").each(function (dummy_index, notification) {
        $(notification).click(on_click_notification);
    });
});
</script>{% endblock %}
