{% load humanize %}
{% load case_utils %}
<span>
  {% for the_comment in review.published_comments %}
    {% if forloop.first %}
      <hr>
    {% endif %}
    <span>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div style="text-indent: {{ the_comment.indent }}px;">{{ the_comment.owner.name }}
            {% if the_comment.reply_to %}(=&gt; {{ the_comment.reply_to.owner.name }}) {% endif %}, {{ the_comment.pub_date|naturaltime }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="comment--description" style="padding-left: {{ the_comment.indent }}px;">{{ the_comment.body }}</div>
        </div>
      </div>
      {% if request.global_user %}
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <a class="comment-reply-link" data-ajax-url="{% url 'reply_comment' request.goal.slug review.id the_comment.id %}" style="padding-left: {{ the_comment.indent }}px;">reply</a>
            <div class="comment-reply-div" style="padding-left: {{ the_comment.indent }}px;"></div>
          </div>
        </div>
      {% endif %}
    </span>
    <hr>
  {% endfor %}
</span>
