{% load humanize %}
{% load case_utils %}
<span>
  <div class="row small-gap-below">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      {% if form %}
        <form class="big-gap-above" data-ajax-url="{% url 'reviews' request.goal.slug latest_revision.suggestion.slug %}" enctype="multipart/form-data" id="review-form" method="post">
          {% csrf_token %}
          <p>
            <label class="form-label" for="{{ form.rating.id_for_label }}">{{ post_button_header }}</label>{{ form.rating.errors }}
            <input class="form-field" id="id_rating" name="rating" type="hidden" value="{{ form.rating.value }}">
            <div class="rateit" data-rateit-resetable="false" data-rateit-value="{{ form.rating.value }}" id="rateit-review"></div>
          </p>
          <p>{{ form.experience.errors }}
            <label class="form-label" for="{{ form.experience.id_for_label }}">Do you have any experience with the suggested {{ latest_revision.suggestion.get_type_display }}?</label>{{ form.experience }}</p>
          <p>{{ form.description.errors }}
            <textarea class="form-field" name="description" rows="10">{{ form.description.value }}</textarea>
          </p>
          <div>
            <button name="submit" value="save">{{ post_button_label }}</button>
            <button name="submit" value="cancel">Cancel</button>
          </div>
        </form>
      {% endif %}
      {% if review.published_comments|length %}
        <div class="review--comments-notice tiny-gap-above">Note: updating your review will remove 
          <a href="#comments-on-my-review">{{ review.published_comments|length }} related comments</a>
        </div>
      {% endif %}
    </div>
  </div>
  {% for the_review in published_reviews %}
    <div class="row small-gap-above small-gap-below sg-review sg-review-{% cycle 'even' 'odd' %}" id="sg-review-{{ the_review.pk }}">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <div class="rateit readonly-rateit" data-rateit-readonly="true" data-rateit-resetable="false" data-rateit-value="{{ the_review.rating }}"></div>
        </div>
        <div class="col-md-6">
          {% if the_review.description %}Review 
            {% else %}Rating 
          {% endif %}
          {% if the_review.revision.pk != latest_revision.pk %}of a 
            <a href="{% url 'revision' request.goal.slug the_review.revision.suggestion.slug the_review.revision.pk %}">previous version </a>
          {% endif %}by {{ the_review.header }}</div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="review--description">{{ the_review.description }}</div>
        </div>
      </div>
      {% if request.global_user %}
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <a class="comment-reply-link" data-ajax-url="{% url 'post_comment' request.goal.slug the_review.id %}">comment on this review</a>
            <div class="comment-reply-div"></div>
          </div>
        </div>
      {% endif %}
      <div class="sg-comment-list" data-ajax-url="{% url 'comments' request.goal.slug the_review.pk %}" id="{% if the_review.id == review.id %}comments-on-my-review{% endif %}"></div>
    </div>
  {% endfor %}
</span>
