{% load humanize %}
{% load case_utils %}
{% block content %}
  <div class="row small-gap-below">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <form class="big-gap-above" enctype="multipart/form-data" id="review-form" method="post">
        {% csrf_token %}
        <p>
          <label class="form-label" for="{{ form.rating.id_for_label }}">{{ post_button_header }}</label>{{ form.rating.errors }}
          <input class="form-field" id="id_rating" name="rating" type="hidden" value="{{ form.rating.value }}">
          <div class="rateit" data-rateit-resetable="false" data-rateit-value="{{ form.rating.value }}" id="rateit-review"></div>
        </p>
        <p>{{ form.description.errors }}
          <textarea class="form-field" form="review-form" name="description" rows="10">{{ form.description.value }}</textarea>
        </p>
        <div>
          <button id="save-submit" name="submit" value="save">{{ post_button_label }}</button>
          <button id="cancel-submit" name="submit" value="cancel">{{ cancel_button_label }}</button>
        </div>
      </form>
      {% if review.published_comments|length %}
        <h5>Note: updating will remove any comments that were made on your existing review</h5>
      {% endif %}
    </div>
  </div>
  {% for published_review in published_reviews %}
    <div class="row">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <div class="rateit readonly-rateit" data-rateit-readonly="true" data-rateit-resetable="false" data-rateit-value="{{ published_review.rating }}"></div>
        </div>
        <div class="col-md-6">
          {% if published_review.revision.pk == latest_revision.pk %}{{ published_review.header }}
            {% else %}A 
              <a href="{% url 'revision' request.goal.slug published_review.revision.proposal.slug published_review.revision.pk %}">previous version</a> was {{ published_review.header|lowerfirst }}
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <p>{{ published_review.description }}</p>
        </div>
      </div>
    </div>
  {% endfor %}<script>

$(document).ready(function() {
    $("#review-form").submit(function(event) {

        // Stop form from submitting normally
        event.preventDefault();

        // Send the data using post
        var posting = $.post(
        "{% url 'reviews' request.goal.slug latest_revision.proposal.slug %}",
            $(this).serialize() + "&submit=" + $(document.activeElement)[0].id
        );

        // Put the results in a div
        posting.done(function(data) {
            $("#reviews").html(data);
            $('div.rateit, span.rateit').rateit();
        });
    });
});

</script>{% endblock %}
