{% load humanize %}
{% load case_utils %}
<span>
  <div class="row small-gap-below">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      {% if form %}
        <form class="big-gap-above" data-ajax-url="{% url 'reviews' request.goal.slug latest_revision.suggestion.slug %}" enctype="multipart/form-data" id="review-form" method="post">
          {% csrf_token %}
          <p>
            <label class="form-label" for="{{ form.rating.id_for_label }}">{{ post_button_header }}</label>{{ form.rating.errors }}
            <input class="form-field" id="id_rating" name="rating" type="hidden" value="{{ form.rating.value }}">
            <div class="rateit" data-rateit-resetable="false" data-rateit-value="{{ form.rating.value }}" id="rateit-review"></div>
          </p>
          <p>{{ form.experience.errors }}
            <label class="form-label" for="{{ form.experience.id_for_label }}">Do you have any experience with the suggested {{ latest_revision.suggestion.get_type_display }}?</label>{{ form.experience }}</p>
          <p>{{ form.description.errors }}
            <textarea class="form-field" name="description" rows="10">{{ form.description.value }}</textarea>
          </p>
          <div>
            <button name="submit" value="save">{{ post_button_label }}</button>
            <button name="submit" value="cancel">Cancel</button>
          </div>
        </form>
      {% endif %}
      {% if review.published_comments|length %}
        <div class="review--comments-notice tiny-gap-above">Note: updating your review will remove 
          <a href="#comments-on-my-review">{{ review.published_comments|length }} related comments</a>
        </div>
      {% endif %}
    </div>
  </div>
  {% for published_review in published_reviews %}
    <div class="row big-gap-above">
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
          <div class="rateit readonly-rateit" data-rateit-readonly="true" data-rateit-resetable="false" data-rateit-value="{{ published_review.rating }}"></div>
        </div>
        <div class="col-md-6">
          {% if published_review.revision.pk == latest_revision.pk %}{{ published_review.header }}
            {% else %}A 
              <a href="{% url 'revision' request.goal.slug published_review.revision.suggestion.slug published_review.revision.pk %}">previous version</a> was {{ published_review.header|lowerfirst }}
          {% endif %}
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="review--description">{{ published_review.description }}</div>
          {% if request.global_user %}
            <a class="comment-reply-link" data-ajax-url="{% url 'post_comment' request.goal.slug published_review.id %}">comment on this review</a>
            <div class="comment-reply-div"></div>
          {% endif %}
        </div>
      </div>
      <div class="comment-block" data-ajax-url="{% url 'comments' request.goal.slug published_review.pk %}" id="{% if published_review.id == review.id %}comments-on-my-review{% endif %}"></div>
    </div>
  {% endfor %}<script>
// review/init_review_form.js
$(document).ready(function() {
    $('#rateit-review').bind('rated', function() {
        $('#id_rating').val($(this).rateit('value'));
    });

    $("#review-form").submit(function(event) {

        // Stop form from submitting normally
        event.preventDefault();

        // Send the data using post
        var posting = $.post(
            $("#review-form").data("ajax-url"),
            $(this).serialize() + "&submit=" + $(document.activeElement)[0].value
        );

        // Put the results in a div
        posting.done(function(data) {
            $("#reviews").html(data);
            sgreviews();
        });
    });
});
</script></span>
