argh==0.26.1
decorator==4.0.6
Django==1.9.1
django-appconf==1.0.1
django-contrib-comments==1.6.2
django-crispy-forms==1.6.0
django-extensions==1.6.1
django-image-cropping==1.0.3
django-markdown-deux==1.0.5
django-registration==2.0.4
django-tag-parser==2.1
dominate==2.1.16
easy-thumbnails==2.3
emoji==0.3.9
ipdb==0.8.1
ipython==4.0.3
ipython-genutils==0.1.0
markdown2==2.3.0
path.py==8.1.2
pathtools==0.1.2
pexpect==4.0.1
pickleshare==0.6
Pillow==3.1.0
ptyprocess==0.5
pudb==2015.4.1
Pygments==2.1
python-memcached==1.57
PyYAML==3.11
readline==6.2.4.1
simplegeneric==0.8.1
six==1.10.0
traitlets==4.1.0
urwid==1.3.1
uWSGI==2.0.12
watchdog==0.8.3
