{% extends 'base.html' %}
{% load markdown_deux_tags %}
{% load humanize %}
{% load notification_tags %}
{% block content %}
  <div class="row small-gap-below">
    <div class="text-center">
      <h1>{{ request.goal.title }}</h1>
      <div class="button-grp">
        <button class="btn btn-default" onclick="location.href='{% url 'goal' request.goal.slug %}';">Suggestions</button>
        <button class="btn btn-default" onclick="location.href='{% url 'members' request.goal.slug %}';">Members</button>
        {% if request.global_user %}
          <button class="btn btn-default" onclick="location.href='{{ profile_url }}';">Profile
            {% with request.global_user.notifications|unread as unread_notifications %}
              {% if unread_notifications.count %} ({{ unread_notifications.count }}){% endif %}
            {% endwith %}
          </button>
        {% endif %}
      </div>
    </div>
  </div>
  {% with suggestion as the_suggestion %}
    {% with the_suggestion.get_current_revision as the_revision %}
      <div class="row small-gap-below">
        <div class="col-md-4"></div>
        <div class="col-md-4">
          <div class="suggestion--image" style="{% if the_suggestion.image %}background-image:url({{ the_suggestion.image.url }});{% endif %}">
            <div class="suggestion--gradient"></div>
            <span class="suggestion--title">
              <span class="title-caption">{{ the_suggestion.get_type_display }} {{ the_suggestion.stars }}</span>
              <h3>{{ the_revision.title }}</h3>
            </span>
          </div>
        </div>
      </div>
      <div class="row small-gap-below">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <h5>Published by {{ the_suggestion.owner.name }}, {{ the_suggestion.pub_date|naturaltime }}</h5>{{ the_revision.description|markdown }}</div>
      </div>
      <div id="sg-review-list"></div>
    {% endwith %}
  {% endwith %}<script>
// review/sg_comment_list.js
(function($) {
    function on_comment_form_submit(event) {
        event.preventDefault();

        // Send the data using post
        var form = $(this);
        var posting = $.post(
            form.data("ajax-url"),
            form.serialize() + "&submit=" + $(document.activeElement)[0].value
        );

        // Put the results in a div
        posting.done(function(data) {
            if (data.success) {
                form.closest(".sg-review").find(".sg-comment-list").sg_comment_list();
                // unload the form for replying to the review
                form.closest(".sg-review").find(".comment-reply-div").empty();
            }
        });
    }

    function init_reply_div() {
        // connect post button to do an ajax post
        form = $(this).find("form")[0];
        url_get_reply_form = $(this).data("ajax-url");
        $(form).data("ajax-url", url_get_reply_form);
        $(form).submit(on_comment_form_submit);
    }

    function on_click_reply_link() {
        // respond to clicking on $(this) reply link by showing a reply form
        reply_div = $(this).siblings(".comment-reply-div")[0];
        url_get_reply_form = $(this).data("ajax-url");
        $(reply_div).data("ajax-url", url_get_reply_form);
        $(reply_div).load(url_get_reply_form, init_reply_div);
    }

    $.fn.sg_comment_reply_link = function() {
        return this.each(function(dummy_index, reply_link) {
            $(reply_link).click(on_click_reply_link);
        });
    };
}(jQuery));


(function($) {
    $.fn.scroll_to_current_anchor = function() {
        var tmp = window.location.hash;
        window.location.hash = ""
        window.location.hash = tmp;
    };
}(jQuery));


(function($) {
    function init_comment_list() {
        // connect all reply-links within $(this) comment list
        $(this).find(".comment-reply-link").sg_comment_reply_link();

        // it's possible that the current anchor refers to a comment in
        // the list that was just loaded
        $().scroll_to_current_anchor();
    }

    $.fn.sg_comment_list = function() {
        return this.each(function(dummy_index, comment_list) {

            // load comments into this comment list
            url_get_comment_list = $(comment_list).data("ajax-url");
            $(comment_list).load(url_get_comment_list, init_comment_list);
        });
    };
}(jQuery));
</script><script>
// review/sg_review_list.js
(function($) {
    $.fn.sg_review_list = function() {
        return this.each(function(dummy_index, review_list_div) {

            $(review_list_div).find('div.rateit, span.rateit').rateit();
            $(review_list_div).find('.sg-comment-list').sg_comment_list();

            // connect link for replying to the review
            $(review_list_div).find('.comment-reply-link').sg_comment_reply_link();
        });
    };
}(jQuery));
</script><script>
// suggestion/init_suggestion.js
$(document).ready(function() {

    $("#sg-review-list").load(
        "{% url 'reviews' request.goal.slug suggestion.slug %}",
        function() {

            $('#rateit-review').bind('rated', function() {
                $('#id_rating').val($(this).rateit('value'));
            });

            $("#review-form").submit(function(event) {
                // Stop form from submitting normally
                event.preventDefault();

                // Send the data using post
                var posting = $.post(
                    $("#review-form").data("ajax-url"),
                    $(this).serialize() + "&submit=" + $(document.activeElement)[0].value
                );

                // Put the results in a div
                posting.done(function(data) {
                    $("#sg-review-list").html(data);
                    $("#sg-review-list").sg_review_list();
                });
            });

            $(this).sg_review_list();
        }
    );
});
</script>{% endblock %}
