.form-label {
    display: block;
}

.form-field {
    display: block;
    width: 100%;
}

.top-right-div {
  padding-top: 16px;
}

.big-gap-below {
    padding-bottom: 56px;
}

.big-gap-above {
    padding-top: 56px;
}

.small-gap-below {
    padding-bottom: 28px;
}

.small-gap-above {
    padding-top: 28px;
}

.tiny-gap-above {
    padding-top: 12px;
}

.suggestion--gradient {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(rgba(15, 20, 31, 0) 0px, rgba(15, 20, 31, 0.1) 25%, rgba(15, 20, 31, 0.8) 100%);
}

.suggestion--photo {
    display: block;
    height: 200px;
    background-size: cover;
}

.suggestion--title {
    background: transparent
    display: block;
    color: #FFF;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.suggestion--title .title-caption {
    float: left;
    clear: both;
}

.suggestion--stars {
    height: 20px;
    width: 100px;
}

.readonly-rateit {
    padding-top : 4px
}

.suggestion-form--image {
    background-color: lightgray;
}

.review--comments-notice {
    font-size: 12px;
}

.comment-reply-link {
    cursor: pointer;
}

.review--description {
    white-space: pre-wrap;
}

.comment--description {
    white-space: pre-wrap;
}

.suggestion--delete-button {
    position: absolute;
    right: 16px;
    bottom: 50px;
}

.sg-review-odd {
    background-color: #eeeedd;
}

.sg-review-even {
    background-color: #dededd;
}