.suggestion--gradient {
    height: 100%;
    width: 100%;
    background-color: transparent;
    background-image: linear-gradient(rgba(15, 20, 31, 0) 0px, rgba(15, 20, 31, 0.1) 25%, rgba(15, 20, 31, 0.8) 100%);
}

.suggestion--image {
    display: block;
    height: 200px;
    background-size: cover;
}

.suggestion--title {
    background: transparent
    display: block;
    color: #FFF;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.suggestion--title--caption {
    float: left;
    clear: both;
}

.gap--small-above {
    padding-top: 28px;
}

.gap--small-below {
    padding-bottom: 28px;
}

